services:
  neo4j:
    image: neo4j:5.22
    container_name: neo4j
    environment:
      - NEO4J_AUTH=neo4j/password
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  celery-worker:
    build:
      context: .
      dockerfile: dockerfile
      args:
        SERVICE: "worker"
    container_name: celery-worker
    depends_on:
      - redis
      - neo4j
      - qdrant
    environment:
      - REDIS_URL=redis://redis:6379/0
      - REGOLO_KEY=${REGOLO_KEY}
      - QDRANT_URL=http://qdrant:6333
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=password
    command: celery -A celery_app.celery_app worker --loglevel=info

volumes:
  neo4j_data:
  qdrant_storage:
  redis_data:
