# Dipendenze base per Celery
celery
redis
python-dotenv

# Dipendenze per chiamate HTTP (Regolo API)
requests

# Dipendenze per GraphRAG (nel caso servano task che importano graph_rag_pipeline)
neo4j-graphrag
PyMuPDF
neo4j
qdrant-client
sentence-transformers
pydantic
regolo